.n-1-t4D {
    height
    : 
    44.2rem;
    left
    : 
    0;
    object-fit
    : 
    cover;
    position
    : 
    absolute;
    top
    : 
    14rem;
    vertical-align
    : 
    top;
    width
    : 
    144rem;
    }
    