.n-1-t4D {
    height
    : 
    100%;
    left
    : 
    0;
    object-fit
    : 
    cover;
    position
    : 
    absolute;

    vertical-align
    : 
    top;
    width
    : 
    100%;
    border: 8px solid #FFFFFF
    }

    