.n-1-t4D {
    height
    : 
    100%;
    left
    : 
    0;
    object-fit
    : 
    cover;
    position
    : 
    absolute;

    vertical-align
    : 
    top;
    width
    : 
    100%;
    border: 8px solid #FFFFFF
    }
    body {
        background: #000000;
        display: flex;
        justify-content: center;
 

      }
      .app {
        width: 36em;
        margin: 3em;
        color: #000000;
      }
      form {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1em;
        margin-bottom: 1em;
        color: #000000;
      }
      button {
        background: rgb(255, 0, 0);
        color: rgb(0, 0, 0);
        font: inherit;
        border: none;
        border-radius: 3px;
        outline: none;
        padding: 0.5em 1.5em;
      }
      button:active { background-color: rgb(0, 0, 0); }
      input {
        border: 1px solid #999;
        border-radius: 3px;
        font: inherit;
        padding: 0.5em;
        outline: none;
      }
      input:focus { outline: auto rgb(255, 0, 0); }
      ul {
        list-style-type: none;
        padding-left: 0;
      }
      .items {
        display: grid;
        flex-direction: row;
        gap: 1em;
      }
      .item {
        background: rgb(255, 0, 0);
        padding: 1em;
        border-radius: 6px;
        box-shadow: 0px 1px 6px 2px #0002;
        transition: transform 100ms ease-in-out;
        display: grid;
        gap: 1em;
        grid-template:
          "d i"
          "m m";
        color: #000000;
      }
      .item:hover { transform: scale(1.02); }
      .item div { grid-area: d; }
      .item img { grid-area: i; }
      .item ul  { grid-area: m; }
      .meta {
        display: grid;
        grid-auto-flow: column;
        gap: 2em;
        font-size: 80%;
        
      }
      .item a{
        color: #000000;

      }
    