.desktop-1-EEZ {
    background-color: #ffffff;
    height: 102.4rem;
    overflow: hidden;
    position: relative;
    width: 100vw;
}
  
    .rectangle-1-e3P {
      background-color: #b72525;
      border: solid 0.8rem #000000;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      height: 61.8rem;
      left: 20.3rem;
      position: absolute;
      top: 24.9rem;
      width: 98.2rem;
    }
    .rectangle-4-i5B {
      background-color: #d9d9d9;
      border-radius: 1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 5.7rem;
      left: 30.6rem;
      position: absolute;
      top: 41.6rem;
      width: 40.9rem;
    }
    .rectangle-5-buf {
      background-color: #d9d9d9;
      border-radius: 1rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      height: 5.7rem;
      left: 30.6rem;
      position: absolute;
      top: 51.9rem;
      width: 40.9rem;
    }
    .username-Vk9 {
      color: #000000;
      font-family: Bangers, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      height: 2.2rem;
      left: 34.8rem;
      line-height: 1.0625;
      position: absolute;
      top: 43.2rem;
      white-space: nowrap;
      width: 7rem;
    }
    .blur{
      background-color: #00000069;
      width: 80vh;
      padding-right: 100px;
    }
    .password-nDT {
      color: #000000;
      font-family: Bangers, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      height: 2.2rem;
      left: 34.8rem;
      line-height: 1.0625;
      position: absolute;
      top: 53.9rem;
      white-space: nowrap;
      width: 7.4rem;
    }
    .user-login-5CZ {
      color: #000000;
      font-family: Bangers, 'Source Sans Pro';
      font-size: 4.8rem;
      font-weight: 400;
      height: 5.1rem;
      left: 30.6rem;
      line-height: 1.0625;
      position: absolute;
      text-decoration-line: underline;
      top: 32.4rem;
      white-space: nowrap;
      width: 18.2rem;
    }
    .forget-password-nMs {
      color: #ffffff;
      font-family: Bangers, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      height: 2.2rem;
      left: 30.6rem;
      line-height: 1.0625;
      position: absolute;
      text-decoration-line: underline;
      top: 59rem;
      white-space: nowrap;
      width: 13.5rem;
    }
    .create-account-gi9 {
      color: #ffffff;
      font-family: Bangers, 'Source Sans Pro';
      font-size: 2rem;
      font-weight: 400;
      height: 2.2rem;
      left: 52.4rem;
      line-height: 1.0625;
      position: absolute;
      text-decoration-line: underline;
      top: 59rem;
      white-space: nowrap;
      width: 11rem;
    }
    .line-1-zyj {
      background-color: #ffffff;
      height: 0.1rem;
      left: 31.1rem;
      position: absolute;
      top: 61.7rem;
      width: 12.3rem;
    }
    .line-2-LGu {
      background-color: #ffffff;
      height: 0.1rem;
      left: 51.8rem;
      position: absolute;
      top: 61.7rem;
      width: 12.3rem;
    }
  
  